body, html {
    background: linear-gradient(0deg, rgba(135,213,203,1) 0%, rgba(255,255,255,1) 100%);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content-box {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 790px;
    height: 600px;
    margin-top: 10px;
}

.content-box header {
    background: #00A58E;
    color: #FFFFFF;
    height: 140px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;

}

.content-box h1 {
    font-size: 35px;
}

.content-box h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
}

.info {
    font-size: 18px;
    width: 420px;
    display: flex;
    flex-direction: column;
    margin-left: 175px;
    margin-top: 47px;
    margin-bottom: 20px;
    color: #595959;

}

.info li {
    width: 513px;
    margin-bottom: 22px;
    list-style: none;

}

.access-btns p {
    font-weight: bold;
    color: #595959;
}

.access-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access-btns button {
    width: 380px;
    height: 63px;
    color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 9px;
}

.google-btn {
    background-color: #4D7DFF;
}

.email-btn {
    background-color: #00A58E;
}